<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ARESEntities" connectionString="metadata=res://*/ARES.BuildProcessTemplates.clsTablolar.Fatura.Model1.csdl|res://*/ARES.BuildProcessTemplates.clsTablolar.Fatura.Model1.ssdl|res://*/ARES.BuildProcessTemplates.clsTablolar.Fatura.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ARES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ARESEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ARES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>